In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
import io
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['student.csv']))

In [ ]:
print(df)

      Rno      Name  Maths  Science  English
0  111111      John     56       64       69
1  111112      Jane     16       24       22
2  111113     Sarah     76       52        3
3  111114     Frank     75       83       80
4  111115      Mike     56        9      100
5  111116  Jennifer     73       65       74
6  111117   Jessica     16       30       77
7  111118      Fred     15       64       22
8  111119       Bob     37       36       99

In [ ]:
print(df.head())

      Rno   Name  Maths  Science  English
0  111111   John     56       64       69
1  111112   Jane     16       24       22
2  111113  Sarah     76       52        3
3  111114  Frank     75       83       80
4  111115   Mike     55        9      100

In [ ]:
print(df.tail())

      Rno      Name  Maths  Science  English
4  111115      Mike     55        9      100
5  111116  Jennifer     73       65       74
6  111117   Jessica     61       30       77
7  111118      Fred     15       57       21
8  111119       Bob     37       36       99

In [ ]:
print(df.head(7))

      Rno      Name  Maths  Science  English
0  111111      John     56       64       69
1  111112      Jane     16       24       22
2  111113     Sarah     76       52        3
3  111114     Frank     75       83       80
4  111115      Mike     55        9      100
5  111116  Jennifer     73       65       74
6  111117   Jessica     61       30       77

In [ ]:
df.ndim   # no. of dimensions

2

In [ ]:
df.shape # no. of rows and columns

(9, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rno      9 non-null      int64
 1   Name     9 non-null      object
 2   Maths    9 non-null      int64
 3   Science  9 non-null      int64
 4   English  9 non-null      int64
dtypes: int64(4), object(1)
memory usage: 488.0+ bytes

In [ ]:
df.nunique() # no. of unique values in each column

Rno        9
Name       9
Maths      7
Science    8
English    8
dtype: int64

In [ ]:
# Statistical description

In [ ]:
df.describe()

                 Rno      Maths    Science     English
count       9.000000   9.000000   9.000000    9.000000
mean   111115.000000  51.555556  46.666667   60.555556
std         2.738613  23.822842  23.494680   35.878654
min    111111.000000  15.000000   9.000000    3.000000
25%    111113.000000  37.000000  30.000000   22.000000
50%    111115.000000  56.000000  52.000000   74.000000
75%    111117.000000  73.000000  64.000000   80.000000
max    111119.000000  76.000000  83.000000  100.000000

In [ ]:
df.describe(include=[object])

            Name
count          9
unique         9
top     Jennifer
freq           1

In [ ]:
df.describe(include='all')

                  Rno      Name      Maths    Science     English
count        9.000000         9   9.000000   9.000000    9.000000
unique            NaN         9        NaN        NaN         NaN
top               NaN  Jennifer        NaN        NaN         NaN
freq              NaN         1        NaN        NaN         NaN
mean    111115.000000       NaN  51.555556  46.666667   60.555556
std          2.738613       NaN  23.822842  23.494680   35.878654
min     111111.000000       NaN  15.000000   9.000000    3.000000
25%     111113.000000       NaN  37.000000  30.000000   22.000000
50%     111115.000000       NaN  56.000000  52.000000   74.000000
75%     111117.000000       NaN  73.000000  64.000000   80.000000
max     111119.000000       NaN  76.000000  83.000000  100.000000

In [ ]:
df.memory_usage()

Index      128
Rno         72
Name        72
Maths       72
Science     72
English     72
dtype: int64

In [ ]:
df['Name'].nbytes

72

In [ ]:
#Accessing a Column

In [ ]:
df.columns   # display all the columns availabe in df

Index(['Rno', 'Name', 'Maths', 'Science', 'English'], dtype='object')

In [ ]:
df['Name']

0        John
1        Jane
2       Sarah
3       Frank
4        Mike
5    Jennifer
6     Jessica
7        Fred
8         Bob
Name: Name, dtype: object

In [ ]:
df.columns[1:3]

Index(['Name', 'Maths'], dtype='object')

In [ ]:
#Retrieving Rows

In [ ]:
df.iloc[0]

Rno        111111
Name         John
Maths          56
Science        64
English        69
Name: 0, dtype: object

In [ ]:
print(df)
df.iloc[3]

      Rno      Name  Maths  Science  English
0  111111      John     56       64       69
1  111112      Jane     16       24       22
2  111113     Sarah     76       52        3
3  111114     Frank     75       83       80
4  111115      Mike     56        9      100
5  111116  Jennifer     73       65       74
6  111117   Jessica     16       30       77
7  111118      Fred     15       64       22
8  111119       Bob     37       36       99

Rno        111114
Name        Frank
Maths          75
Science        83
English        80
Name: 3, dtype: object

In [ ]:
df.iloc[1:3]  # no.of rows

      Rno   Name  Maths  Science  English
1  111112   Jane     16       24       22
2  111113  Sarah     76       52        3

In [ ]:
df.iloc[1,3] # particular value using row and column

24

In [ ]:
df.isnull().sum() # no. of zeros in each column

Rno        0
Name       0
Maths      0
Science    1
English    0
dtype: int64

In [ ]:
df['Maths'].unique()   # no. of unique values in Maths column

array([56, 16, 76, 75, 73, 15, 37])

In [ ]:
# Replace

In [ ]:
print(df)
df['Maths'].replace('Absent',np.nan,inplace=True)    # To replace Absent with Null value

      Rno      Name  Maths  Science  English
0  111111      John     56     64.0       69
1  111112      Jane     16     24.0       22
2  111113     Sarah     76     52.0        3
3  111114     Frank     75     83.0       80
4  111115      Mike     56      NaN      100
5  111116  Jennifer     73     65.0       74
6  111117   Jessica     16     30.0       77
7  111118      Fred     15     64.0       22
8  111119       Bob     37     36.0       99

In [ ]:
df['Science'].replace('Absent',50,inplace=True)
print(df)

      Rno      Name  Maths  Science  English
0  111111      John     56     64.0       69
1  111112      Jane     16     24.0       22
2  111113     Sarah     76     52.0        3
3  111114     Frank     75     83.0       80
4  111115      Mike     56     50.0      100
5  111116  Jennifer     73     65.0       74
6  111117   Jessica     16     30.0       77
7  111118      Fred     15     64.0       22
8  111119       Bob     37     36.0       99

In [ ]:
#statistical measures of columns

In [ ]:
df['Maths'].max()

76

In [ ]:
df['Maths'].min()

15

In [ ]:
df['Maths'].mean()

46.666666666666664

In [ ]:
df['Maths'].median()

56.0

In [ ]:
df['Maths'].mode()

0    15
1    16
2    37
3    55
4    56
5    61
6    73
7    75
8    76
dtype: int64

In [ ]:
df['Maths'].std()

26.239283526803852

In [ ]:
df['Maths'].value_counts()    # no. of times occurance

56    2
16    2
15    1
76    1
75    1
73    1
37    1
Name: Maths, dtype: int64

In [ ]:
df

      Rno      Name  Maths  Science  English
0  111111      John     56     64.0       69
1  111112      Jane     16     24.0       22
2  111113     Sarah     76     52.0        3
3  111114     Frank     75     83.0       80
4  111115      Mike     56     50.0      100
5  111116  Jennifer     73     65.0       74
6  111117   Jessica     16     30.0       77
7  111118      Fred     15     64.0       22
8  111119       Bob     37     36.0       99

In [ ]:
m_s=df[(df['Maths']>60) & (df['Science']>60)]  
print(m_s)

      Rno      Name  Maths  Science  English
3  111114     Frank     75     83.0       80
5  111116  Jennifer     73     65.0       74